.regContainer {
	background-color: white;
	height: auto;
    width: 650px;
	display: flex;
	flex-direction: column;
	margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 25px;
    justify-content: center;
    align-content: center;
}

.regContainer2 {
	padding-top: 10px;
	display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: center;
    align-content: center;
}

.selectType {
    width: 150px;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.selectType2 {
	width: 150px;
}

.regButton {
	width: 100px;
	height: 50px;
	background-color: black !important;
	color: white !important;
	margin-top: 15px !important;
}

.regButton:hover {
	background-color: black !important;
}

/* .MuiInput-underline:after {
	border-bottom: 2px solid black !important;
} */
.emailInput{
    width: 320px;
}

.dept-select{
    width: 150px;
}


.marginFix{
    margin-left: 10px !important;
}
.chr-select, .cos-textfield{
    width: 250px;
}

@media only screen and (max-width: 768px){
    .regContainer{
        width: 100%;
        margin: 0;
        padding: 5px;
    }

    .emailInput{
        width: 90%;
    }

    .marginFix{
        margin: 0 !important;
    }

    .selectType {
        margin: 0 !important;
    }
    .widthResponsive{
        width: 190px;
    }

}
